body {
  background-image: url(../img/forest.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url("../img/palu1.png"), auto;
}

body:active {
  cursor: url("../img/palu2.png"), auto;
}
h1,
h2 {
  font-size: 60px;
  text-align: center;
  font-family: "ArcadeClassic";
  color: #b67e60;
  margin: 0;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

button {
  border-radius: 100px;
  background-color: #b67e60;
  margin-top: 20px;
  display: block;
  margin: auto;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  text-align: center;
  text-decoration: none;
}

.container {
  width: 600px;
  padding-top: 50px;
  margin: auto;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.tanah::after {
  content: "";
  display: block;
  width: 200px;
  height: 100px;
  background: url(../img/tanah.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -25px;
}

.dims {
  width: 100%;
  height: 100%;
  background: url(../img/dims.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.3s;
}

.tanah.muncul .dims {
  top: -15px;
}
